services:
  uncloud-dns:
    build:
      context: ..
      platforms:
        - linux/amd64
    image: ghcr.io/psviderski/uncloud-dns
    environment:
      DB_SQLITE_DSN: file:/data/db.sqlite?_pragma=foreign_keys(1)
      LOGLEVEL: debug
      PURGE_INTERVAL_SECONDS: 0
      ROUTE53_ZONE_ID: Z02978313T3PRGPD375O1
      LEGACY_ROUTE53_ZONE_ID: Z03945543HGEBIHIT6BPN
    env_file:
      - .env.secrets
    x-ports:
      - dns.uncloud.run:4315/https
    volumes:
      - uncloud-dns:/data
    x-machines: uc-prod-us2

volumes:
  uncloud-dns:
